.top {
    margin: 10px 0;
    height: 110px;
    background-color: #4e555b;
    padding: 10px 30px 0 0;
}

.top p {
    margin: 0;
    text-align: right;
    color: white;
}

.top a {
    color: white;
}

.left-1 p {
    text-align: left;
    color: white;
    background-color: #4e555b;
}

.left-1 {
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.left-2 {
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    background-color: #4e555b;
}

.right-top {
    background-color: #adb5bd;
    text-align: left;
}

.right-top li {
    list-style: none;
}

.box {
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    width: 20%;
}


.box-y {
    width: 100%;
    height: 100px;
    background-color: #adb5bd;
}

.right-bottom {
    padding: 20px;
    height: 100%;
    background-color: #adb5bd;
}

.right-bottom-2 {
    padding: 20px;
    height: 100%;
    background-color: #adb5bd;
}

.footer-1 ul {
    text-align: left;
    color: white;
}

.footer-1 {
    padding: 30px 60px 10px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #4e555b;
}

.br-e {
    background-color: #4e555b;
}

.footer-2 {
    padding: 30px;
    text-align: left;
    color: white;
    /*height: 100%;*/
    background-color: #4e555b;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-3 {
    height: 100px;
    background-color: #4e555b;
}

.footer-4 {
    height: 100px;
    background-color: #4e555b;
}

.str {
    margin-top: 10px;
    height: 100%;
    justify-content: stretch;
}


